
@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
  font-family: 'Montserrat', sans-serif;
}
.navbar{
  display: inline-block;
  background-color: rgb(40, 33, 82);
  padding:1px;
  width: 99.9%;
  height: 80px;
  
}
.nav-logo{
  color: white;
  padding-left: 20em;
}

.nav-links{
  position: relative;
  top: -50px;
  float: right;
  margin: 0 20em;
}

.nav-links a {
  padding: 5px;
  color: #fff;
  text-decoration: none;
}

.main-header{
  /* display: flex; */
  width: 100%;
  height: 100vh;
  background-image: url('./images/header-back-small.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  text-align: center;
  margin: 0;
  position: relative;
  /* padding: 10em 0em; */
}
.main-header .main-header-overlay{
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  height:100vh ;
  text-align: center;
  position: absolute;
  top: 0;
}

.header-content{
  color:#fff; 
  position: relative;
  top: 30%;
}

.header-content h1{
  font-size: 50px;
}

.header-content h3{
  font-size: 20px;
}

.btn-portfolio{
    border: 2px rgb(35, 29, 70);
    background-color: rgb(35, 29, 70);
    color:white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
}
.btn-portfolio:hover{
  background-color: #fff;
  color: rgb(0, 132, 255);
}

.header-settings{
  font-size: 30px;
  width: 50px;
  height: 50px;
  color:#fff;
  float: left;
  transform: translateX(-12.6em);
    
}

.coders-duty{
  display: flex;
  padding: 2.5em 0;
  background-color: rgba(221, 221, 221, 0.356);
  height:70px;
  justify-content: center;
  text-align: center;
}

.coders-duty h3 {
font-size: 20px;
}

.Wrapper{
  width: 100%;
}
 .flex{
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-wrap: wrap;
}
.flex_box{
  height: 250px;
  width: 250px;
  background-color: rgba(221, 221, 221, 0.356);
  border-radius: 10px;
  margin: 1em 1em;
  text-align: center;
  padding: 8px;
}
.flex_box h2{
  color: rgb(0, 132, 255);
  font-size: 15px;
}
#icon{
  font-size: 20px;
  margin: 10px 0px;
  line-height: 50px;
  width: 50px;
  height: 50px;
  background: white;
  border-radius: 50%;
  color: rgb(0, 132, 255);

}
.Recent_work{
  width:100%;
  display: flex;
  justify-content: center;
}
.recent_flex{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}
.recent_title p{
  font-size: 30px;
  color: #ddd;
}
.recent_flexBox{
  width: 400px;
  height: 350px;;
}
.recent_flexBox button{
  padding: 10px;
  background-color: rgb(35, 29, 70);
  color: rgb(255, 255, 255);
  border: 0px;
  cursor: pointer;
  transition: all .5s ease-in-out;
}
.recent_flexBox button:hover{
  transform: scale(1.2);
}
.catalogue{
  width: 250px;
  height: 250px;;
  text-align: center;
  margin: 1em 0;
  /* border: 1px solid #ddd; */
  margin: 1px 2px;
}
#icons{
  font-size: 50px;
  color: rgb(0, 132, 255);
}
.ctatlogue_desc{
  height: 118px;
  background: rgb(35, 29, 70);
  color: white;
  padding: 5px;
  position: relative;
  top: -4px;

}
.ctatlogue_desc:after{
  content: "";
 bottom: 3px;
 transform: rotate(45deg);
 left: 40%;
 z-index: -1;
  border-bottom: 25px solid rgb(30, 30, 43);
  border-top: 25px solid transparent;
  border-left: 25px solid transparent;
  border-right: 25px solid rgb(30, 30, 43);
  position: absolute;

}
.ctatlogue_desc p{
  overflow: hidden;
font-size: 12px;

  }  
.images_catalogue img{
  object-fit: fill;
  width: 250px;
  height: 122px;
}
.Footer{
  text-align: center;
  background-color: rgb(35, 29, 70);
  color: white;
  widows: 100%;
  height: 300px;

}
.input{
  display: flex;
  justify-content: center;
  position: relative;
}
.txt-subscribe{
  display: block;
  margin: 0;
  padding: 0 1em;
  color: #000;
  width: 20%;
  height: 40px;
  font-family: inherit;
  font-size: var(--inputFontSize);
  font-weight: inherit;
  line-height: var(--inputLineHeight);
  border: none;
  border-radius: 0.4rem;
  transition: box-shadow var(--transitionDuration);
}
.btn-subscribe{
  border: 2px rgb(35, 29, 70);
  background-color: rgb(35, 29, 70);
  color:white;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

.social_Media{
  padding: 20px;
  font-size: 40px;
  height: 100px;
 ;
}
#icons_social{
  padding: 10px;
  cursor: pointer;
}
.Reserved_all{
 
  width: 100%;
  height: 87px;
  position: absolute;
  bottom: 0;
  position: relative;
  text-align: center;
  line-height: 50px;
  color: rgb(0, 0, 0);

}
.Intouch{
  height: 50px;
  padding: 5px;
}
